body {
    font-family: Roboto, sans serif;
    text-align: center;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
}

.header, .footer, .hero-section {
    background-color: #1f2937;
}

.logo-line {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
}

ul {
    list-style-type: none;
}

a, .awesome2 {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.awesome {
    font-size: 48px;
    font-weight: 900;
}

.hero-img {
   width: 300px;
   height: auto;
}

.photo-header, 
.quote, 
.quote-by {
    color: #1f2937;
}

.photo-header {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.photos {
    display: flex;
    justify-content: center;
    gap: 52px;
    padding-bottom: 30px;
}

.content-img {
    border: 2px solid #3882f6;
    border-radius: 10px;
    max-width: 150px;
    max-height: 150px;
}

.img-desc {
    color:#1f2937;
    font-size: 18px;
}

.quote-section {
    background-color: #e5e7eb;
    padding: 20px;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.quote-by {
    font-size: 20px;
    font-weight: 500;
}

button, .sign-up {
    background-color: #3882f6;
}

button {
    border-radius: 6px;
    padding: 3px 15px;
    border: 1px solid #1f2937;
    color: #f9faf8;
}

.button2 {
    border: 1px solid #e5e7eb;
}

.sign-up {
    padding: 10px;
    border-radius: 10px;
    margin: 30px;
}

.line1 {
    font-weight: bold;
    font-size: 14px;
}

.line2 {
    font-size: 12px;
}

.footer {
    padding: 10px;
    font-size: 10px;
}